
VITE_FIREBASE_API_KEY="AIzaSyAulNiMrcqYOT5b1VKnNcvRCgY807HZ6Os"
VITE_FIREBASE_AUTH_DOMAIN="medverify-66b55.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="medverify-66b55"
VITE_FIREBASE_DATABASE_URL="https://medverify-66b55-default-rtdb.firebaseio.com"
VITE_FIREBASE_STORAGE_BUCKET="medverify-66b55.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="272670358125"
VITE_FIREBASE_APP_ID="1:272670358125:web:1f1d199c8ea6caca025d64"

